<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div>
        <p><%= email %></p>
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/signin">Sign In</a>
    </div>
</body>
</html>