div
{
  position:absolute;
  transform:translate(-50%,-50%);
  top:50%;
  left:50%;
}

div a
{
  font-size:20px;
  background-color:rgb(48, 124, 196);
  color:#FFF;
  padding:8px;
  border-radius:8px;
  border:none;
  text-decoration:none;
}

div a:first-of-type
{
  margin-right:10px; 
}

@media only screen and (max-width:600px)
{
  div a
  {
    font-size:16px;
    padding:4px;
  }
}